body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f5f5f5; 
}


input[type="text"],
input[type="number"] {
  width: 40%; 
  padding: 10px; 
  margin: 8px 0; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s ease; 
}


input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #66afe9;
  outline: none; 
}


.add-button {
  background-color: #4CAF50; 
  color: white;
  padding: 10px 15px;
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
  font-size: 16px; 
}


.add-button:hover {
  background-color: #45a049; 
}


table {
  width: auto; 
  border-collapse: collapse;
  margin-top: 20px; 
}

th, td {
  border: 1px solid #ccc; 
  padding: 12px; 
  text-align: left; 
}

th {
  background-color: #f2f2f2; 
}

td {
  background-color: #ffffff; 
  transition: background-color 0.3s ease; 
}


tbody tr:hover td {
  background-color: #f9f9f9; 
}



button {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


button.delete-button {
  background-color: #ff4d4d; 
  color: white; 
}


button.delete-button:hover {
  background-color: #e60000; 
}


td {
  padding: 8px;
}


.edit-button {
  background-color: #4fc0c8; /* Initial button color */
  color: white;              /* Text color */
  border: none;              /* Remove border */
  padding: 8px 12px;         /* Adjust padding as needed */
  cursor: pointer;           /* Pointer cursor on hover */
  border-radius: 4px;        /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth color transition */
}

.edit-button:hover {
  background-color: #0a76ab; /* Darker green for intense hover effect */
}

